<h1>Update</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@current_user) do |f| %>
			<%= render 'shared/error_messages', :object => f.object %>

			<%= f.label :name %>
			<%= f.text_field :name, :class => "form-control" %>

			<%= f.label :email %>
			<%= f.text_field :email, :class => "form-control" %>

			<%= f.label :country_code %>
			<%= f.country_select :country_code, :prompt => "Please select a country" %>

			<%= f.label :state_code %>
			<%= render :partial => 'subregion_select', :locals => { :parent_region => f.object.country_code } %>

			<%= f.submit "Update user information", :class => "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
